nav {
   width: 100%;
   height: 100px;
   background-color: rgb(83, 80, 80);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2em;
}
nav img {
   display: block;
   width: 10em;
   min-height: 50px;
}
nav ul {
   display: none;
   width: 70%;
}
nav a:hover {
   color: rgb(250, 234, 161);
}

/* responsivo */
/* telas pequenas */
@media screen and (min-width: 481px) { /* dropdown some e os links aparecem */
   /* lista de links */
   nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 40px;
      list-style: none;
   }
   nav a {
      text-decoration: none;
      text-align: center;
      color: rgb(241, 209, 64);
      padding: .3em;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
   }

   /* dropdown */
   .dropdown {
      display: none;
   }
}

/* telas medias */
@media screen and (min-width: 769px) { /* font-size dos links aumentam */
   nav a {
      font-size: 20px;
   }
}

/* telas grandes */
@media screen and (min-width: 1028px) { /* font-size dos links aumentam */
   nav a {
      font-size: 20px;
   }
}

